<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.beuth.digitalspyhole"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.beuth.digitalspyhole.Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.beuth.digitalspyhole.Control"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="de.beuth.digitalspyhole.CONTROL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.beuth.digitalspyhole.OverView"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="de.beuth.digitalspyhole.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.beuth.digitalspyhole.Database"
            android:label="@string/title_activity_database" >
        </activity>
    </application>

</manifest>
